<app-header titulo="PAGE MEDIA"></app-header>

<ion-content>
  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Equipo 5A</ion-label>
  </ion-chip>
</ion-content>
<ion-content>
  <ion-icon name="logo-ionic"></ion-icon>
  <ion-icon name="logo-ionic" size="large"></ion-icon>
  <ion-icon name="logo-ionic" color="primary"></ion-icon>
  <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
</ion-content>
