<app-header titulo="Page Content "></app-header>

<ion-content>

    <ion-content color="primary" class="ion-padding">
        <h1>Azul</h1>
        <p>Azulito</p>
      </ion-content>
      <ion-content color="secondary" class="ion-padding">
        <h1>Celeste</h1>
        <p>Celestito</p>
      </ion-content>
      <ion-content color="tertiary" class="ion-padding">
        <h1>Morado con azul</h1>
        <p>moradito con azulito</p>
      </ion-content>
      <ion-content color="success" class="ion-padding">
        <h1>Verde</h1>
        <p>Verdesito</p>
      </ion-content>
      <ion-content color="warning" class="ion-padding">
        <h1>Amarillo</h1>
        <p>Amarillito</p>
      </ion-content>
      <ion-content color="danger" class="ion-padding">
        <h1>Rojo</h1>
        <p>rojito</p>
      </ion-content>
      <ion-content color="light" class="ion-padding">
        <h1>Negro</h1>
        <p>Negrito</p>
      </ion-content>
      
</ion-content>



