<app-header titulo="Page Input"></app-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Tu color favorito es:</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
      
      <ion-item fill="solid">
        <ion-label position="floating">Tu numero de la suerte es:</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
      
      <ion-item fill="outline">
        <ion-label position="floating">Tu pelicula favorita es:</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>


      <ion-textarea
        placeholder="Numero de telefono"
        [clearOnEdit]="true">
      </ion-textarea>

</ion-content>
